<div class="container">
  <table>
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Section</th>
      <th>Semester</th>
      <th></th>
      <th></th>
    </tr>
    <tr class="col-md-4" *ngFor="let course of courses">
      <td style="width :15%;">{{ course.courseCode }}</td>
      <td style="width :45%;">{{ course.courseName }}</td>
      <td style="width :10%;">{{ course.semester }}</td>
      <td style="width :10%;">{{ course.section }}</td>
      <td style="width :10%;">
        <a [routerLink]="['/course/edit/', course._id]" class="btn btn-info"
          >Edit</a
        >
      </td>
      <td style="width :10%;">
        <a class="btn btn-danger" (click)="deleteCourse(course.id)">Delete</a>
      </td>
    </tr>

    <!-- <button type="button" name="editCourse" (click)="goToEdit(course)"></button> -->
  </table>
</div>
