<div class="container">
  <table class="table-bordered ">
    <tr>
      <th>Student Number</th>
      <th>Fisrt Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
    </tr>
    <tr class="col-md-4" *ngFor="let student of students">
      <td style="width :10%;">{{ student.studentNumber }}</td>
      <td style="width :15%;">{{ student.firstName }}</td>
      <td style="width :10%;">{{ student.lastName }}</td>
      <td style="width :20%;">{{ student.email }}</td>
      <td style="width :10%;">{{ student.phone }}</td>
      <td style="width :20%;">{{ student.address }}</td>
      <td style="width :10%;">{{ student.city }}</td>
    </tr>
  </table>
</div>
